.active {
    background: linear-gradient(180deg, #5564724d, #212f3b1a 33%);
    border: 1px solid var(--border);
    border-radius: 2rem;
}

nav {
    width: 100vw;
    height: 6rem;
    z-index: 100;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    background-color: rgba(2, 5, 9, 0.6);
    backdrop-filter: blur(1rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "JetBrainsMono", monospace;
}

@media (min-width: 768px) {
    nav {
        flex-direction: row;
    }
}

nav div.logo {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

@media (min-width: 596px) {
    nav div.logo {
        left: 2rem;
    }
}

nav div.logo .title {
    color: var(--text);
    font-weight: 600;
    font-size: 1.875rem;
    text-decoration: none;
}

@media (min-width: 596px) {
    nav div.logo .title {
        font-size: 2rem;
    }
}

nav div.logo .title span {
    display: none;
}

@media (min-width: 450px) {
    nav div.logo .title span {
        display: inline;
    }
}

nav ul li {
    list-style: none;
    text-align: left;
}

nav ul li a, nav ul li button {
    padding: 0.25rem 1rem;
    display: block;
    color: inherit;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: font-weight 0.3s ease;
}

nav ul li a:not(.active):hover, nav ul li button:not(.active):hover {
    font-weight: 700;
}

nav div.logo .title:active,nav ul li a:not(.active):active, nav ul li button:not(.active):active {
    color: var(--primary);
}

nav button {
    cursor: pointer;
    font: inherit;
    color: inherit;
    background: none;
    border: none;
}

nav div.nav-items {
    display: flex;
    flex-direction: column;
}

nav div ul.nav-pages {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

@media (min-width: 596px) {
    nav div ul.nav-pages {
        padding: 0.5rem;
        right: 2rem;
        gap: 1rem;
        border: 1px solid var(--border);
        border-radius: 2rem;
    }
}

@media (min-width: 768px) {
    nav div ul.nav-pages {
        position: relative;
        top: 0;
        right: 0;
        transform: none;
    }
}

nav div ul.nav-links {
    display: none;
}

@media (min-width: 768px) {
    nav div ul.nav-links {
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}

nav div ul.nav-links img {
    width: 1.25rem;
    transition: 0.3s ease;
}

nav div ul.nav-links img:hover {
    transform: translateY(-0.25rem);
}