footer {
    margin-top: 4rem;
}

footer hr {
    margin: 0 4rem;
    border: none;
    border-top: 1px solid var(--border);
}

footer div.footer-text {
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 768px) {
    footer div.footer-text {
        display: grid;
        grid-template-columns: 4fr 1fr;
        align-items: flex-end;
        gap: 4rem;
    }
}

@media (min-width: 1440px) {
    footer div.footer-text {
        padding: 0 20rem;
    }
}

footer h2 {
    margin: 0;
    padding-top: 4rem;
    text-align: left;
}

footer h6 {
    font-family: 'JetBrainsMono', monospace;
    font-size: 20vw;
    text-align: center;
}

@media (min-width: 768px) {
    footer h6 {
        padding: 0;
    }
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer p {
    line-height: 1.5;
}

footer .links-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

footer .footer-links {
    display: flex;
    gap: 1rem;
    transition: 0.3s ease;
    font-family: 'JetBrainsMono', monospace;
}

footer .footer-links:hover {
    font-weight: 700;
    transform: translateX(0.25rem);
}

footer .footer-links:active {
    color: var(--primary);
}

footer .footer-links img {
    width: 1.25rem;
}