@import './reset.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-dark: hsl(214 70% 2%);
  --bg: hsl(209 46% 5%);
  --bg-light: hsl(208 27% 9%);
  --text: hsl(208 100% 96%);
  --text-muted: hsl(208 22% 70%);
  --highlight: hsl(208 15% 39%);
  --border: hsl(208 20% 29%);
  --border-muted: hsl(208 29% 18%);
  --primary: hsl(207 76% 70%);
  --secondary: hsl(30 63% 64%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
  height: 100%;
  color: var(--text);
  background: var(--bg-dark);
  font-family: "HankenGrotesk", sans-serif;
  font-size: 14px;
}

@media (min-width: 596px) {
  :root {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  body {
    cursor: auto !important;
  }
}

h1, h2 {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
}

h3 {
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  line-height: 1.25;
}

h4 {
  font-size: 1.25rem;
}

main {
  margin-top: 6rem;
}

@font-face {
  font-family: HankenGrotesk;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: HankenGrotesk;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/HankenGrotesk-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: JetBrainsMono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: JetBrainsMono;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
}